
<!--Saco el banner y lo pongo en el componente encabezado y aca pongo esta etiqueta-->
<!--Al nombre de la etiqueta lo saco del archivo .ts, ahi me dice como se llama-->
<app-header></app-header>
<app-encabezado></app-encabezado>

<!--Hago lo mismo con las demas secciones-->
<app-acerca-de></app-acerca-de>
<app-experiencia></app-experiencia>
<app-educacion></app-educacion>
<app-habilidades></app-habilidades>
<app-proyectos></app-proyectos>
<app-formulario></app-formulario>
<app-footer></app-footer>
  